flows_projectOne.json
[
    {
        "id": "5f707bfb.3612a4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f7ea5f00.17844",
        "type": "inject",
        "z": "5f707bfb.3612a4",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 180,
        "y": 140,
        "wires": [
            [
                "7e7503cc.b3c98c"
            ]
        ]
    },
    {
        "id": "7e7503cc.b3c98c",
        "type": "function",
        "z": "5f707bfb.3612a4",
        "name": "",
        "func": "var thing = \"test sentance for publishing projects\";\nmsg.test = thing.toUpperCase();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 140,
        "wires": [
            [
                "c474e2dd.33545"
            ]
        ]
    },
    {
        "id": "c474e2dd.33545",
        "type": "debug",
        "z": "5f707bfb.3612a4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 530,
        "y": 140,
        "wires": []
    }
]