flows_projectOne.json
[{"id":"5f707bfb.3612a4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a37070aa.55e07","type":"inject","z":"5f707bfb.3612a4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":320,"wires":[["2578023b.0aad7e"]]},{"id":"8f047c55.9329a","type":"debug","z":"5f707bfb.3612a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1210,"y":320,"wires":[]},{"id":"2578023b.0aad7e","type":"http request","z":"5f707bfb.3612a4","name":"","method":"GET","ret":"txt","url":"https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/significant_week.csv","tls":"","x":390,"y":320,"wires":[["a8a484ba.908538"]]},{"id":"a8a484ba.908538","type":"csv","z":"5f707bfb.3612a4","name":"","sep":",","hdrin":true,"hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":590,"y":320,"wires":[["98244123.bdce"]]},{"id":"98244123.bdce","type":"split","z":"5f707bfb.3612a4","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":770,"y":320,"wires":[["fdc2ef36.904e4"]]},{"id":"fdc2ef36.904e4","type":"function","z":"5f707bfb.3612a4","name":"convToDateTime","func":"var iso = msg.payload.time\nvar date = new Date(iso)\nmsg.payload = \n        { \n            \"date\" : date,\n            \"year\" : date.getFullYear(),\n            \"month\" : date.getMonth(),\n            \"Date\" : date.getDate()\n        }\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":320,"wires":[["8f047c55.9329a"]]}]